<ion-header>
  <ion-toolbar>
    <ion-title>Pengalaman, Kritik dan Saran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Pengalaman
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Selama mengikuti kelas AMBW, saya mulai memahami tentang materi informatika. Mulai dari git, angular, IONIC, sampai Firebase. Namun sampai sekarang saya masih agak kesulitan mengikuti materi kelas karena saya bukan dari jurusan Informatika dan juga kesibukan saya di matkul lainnya. Sejujurnya saya belum sempat menyelesaikan belajar tentang firebase. Ke depannya saya akan berusaha lebih untuk mempelajari materi kelas ini dengan baik</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Kritik atau Saran
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Sejauh ini saya tidak ada kritik. Saya berharap dapat mengikuti kelas ini sampai akhir semester nanti.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
