<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tentang Saya
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      Nama : Florian Kevin Verandi
    </ion-card-content>
    <ion-card-content>
      NRP : C13180034
    </ion-card-content>
    <ion-card-content>
      Email1 : c13180034@john.petra.ac.id
    </ion-card-content>
    <ion-card-content>
      Email2 : floriankv@gmail.com
    </ion-card-content>
    <ion-card-content>
    No.HP : 085730738083
    </ion-card-content>
  </ion-card>
</ion-content>
